* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(238, 238, 238);
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

// Navbar
.navbar {
  background-color: transparent !important;
  border: none !important;
}

.app-bar__brand img{
  width:100px;
}

.nav {
  margin: 0 auto;
  text-align: center;
}

.nav-link {
  color:black;
}

//Jumbohero
.tete {
  background-image:url('../public/img/JumboTron.png');
  color:yellow;
  background-size: cover;
  background-position: center;
  height: 300px; /* Sesuaikan dengan tinggi gambar */
  color: #fff;
  
}

//About Section
.about{
  background:white !important;
}

.about_box {
  background: #F6F5F5;
  width: 440px;
  height:358px;
}

.about_icons {
  width:40px;
  margin-top:17px;
}

.icon_background {
  width: 100px;
  height:100px;
  margin-bottom: 20px;
  background:#F97B22;
  padding: 10px;
  border-radius: 50%;
}

.row {
  margin-top: 70px !important;
}

.orangefont {
  color: #F97B22;
}


